
:root {
  --color-navbarLeft: rgb(255, 255, 255);
  --color-text: #fff;
  --color-textMenu: rgb(134, 136, 144);
  --color-menuHover: #353535; 
  --color-background: #D1CFCF; 
  --color-menuHoverText: rgb(0, 0, 0);
  --color-button: rgb(0, 0, 0);
  --color-textButton: rgb(255, 255, 255);
  --color-line: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  height: 100vh;
  width: 100%;
  background: #bdc3c7;
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  );
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  );

  display: flex;
} */

body {
  height: 100vh;
  width: 100%;
  background: var(--color-background); 
  display: flex;
}

/* 
.navbarLeft {
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background: #bdc3c7; 
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  );
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  transition: width 0.5s ease;
}
*/

.navbarLeft {
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background: var(--color-menuHover);
}

.ocultNavbarLeft {
  width: 80px;
}

.navbarLeft .namePage {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  filter: drop-shadow(5px 10px 4px #000);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}

.navbarLeft .namePage img {
  min-width: 50px;
  font-size: 40px;
  cursor: pointer;
}

.navbarLeft .namePage span {
  font-size: 25px;
  margin-left: 5px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbarLeft span.ocult {
  opacity: 0;
}

/*------->Profile User*/

.navbarLeft .userProfile {
  margin-top: 15px;
  width: 100%;
  display: flex;
  border-radius: 10px;
}

.navbarLeft .userProfile img {
  width: 50px;
  min-width: 50px;
  border-radius: 10px;
}

.navbarLeft .userProfile .infoUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  overflow: hidden;
}

.navbarLeft .userProfile .name-id {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.navbarLeft .userProfile .name {
  font-size: 15px;
  font-weight: bold;
}

.navbarLeft .userProfile .id {
  font-size: 11px;
}

/*------->Navegation*/

.navbarLeft .navegation {
  margin-top: 15px;
}

.navbarLeft .navegation li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbarLeft .navegation a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  /* background-color: var(--color-navbarLeft); */
  color: var(--color-text);
}

.navbarLeft .navegation a:hover {
  background-color: var(--color-menuHover);
  color: var(--color-menuHoverText);
}

.navbarLeft .navegation ion-icon {
  min-width: 50px;
  font-size: 20px;
}

/*------------ Billing Container  --------------------*/

.billing-container {
  width: 80%;
  margin: 2rem;
  padding: 10px;
  box-sizing: border-box;
}

.billing-container .client-info {
  color: #fff;
  margin-bottom: 20px;
}

.table > :not(caption) > * > * {
  background-color: transparent;
  border: none;
}

.billing-container .buttoms {
  display: flex;
  align-items: end;
  justify-content: end;
}

.billing-container .buttoms button {
  margin: 10px;
}

:root {
  --color-navbarLeft: rgb(255, 255, 255);
  --color-text: #fff;
  --color-textMenu: rgb(134, 136, 144);
  --color-menuHover: #353535;
  --color-background: #D1CFCF;
  --color-menuHoverText: rgb(0, 0, 0);
  --color-button: rgb(0, 0, 0);
  --color-textButton: rgb(255, 255, 255);
  --color-line: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  width: 100%;
  background: var(--color-background);
  display: flex;
}

/* 
.navbarLeft {
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background: #bdc3c7; 
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  );
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  transition: width 0.5s ease;
}
*/

.navbarLeft {
  width: 250px; 
  height: 100%;
  overflow: hidden;
  padding: 20px 15px;
  background: var(--color-menuHover);
}

.ocultNavbarLeft {
  width: 80px;
}

.navbarLeft .namePage {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  filter: drop-shadow(5px 10px 4px #000);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(180deg);
  }

  to {
    transform: rotateY(-180deg);
  }
}

.navbarLeft .namePage img {
  min-width: 50px;
  font-size: 40px;
  cursor: pointer;
}

.navbarLeft .namePage span {
  font-size: 25px;
  margin-left: 5px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.navbarLeft span.ocult {
  opacity: 0;
}

/*------->Profile User*/

.navbarLeft .userProfile {
  margin-top: 15px;
  width: 100%;
  display: flex;
  border-radius: 10px;
}

.navbarLeft .userProfile img {
  width: 50px;
  min-width: 50px;
  border-radius: 10px;
}

.navbarLeft .userProfile .infoUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  overflow: hidden;
}

.navbarLeft .userProfile .name-id {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.navbarLeft .userProfile .name {
  font-size: 15px;
  font-weight: bold;
}

.navbarLeft .userProfile .id {
  font-size: 11px;
}

/*------->Navegation*/

.navbarLeft .navegation {
  margin-top: 15px;
}

.navbarLeft .navegation li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navbarLeft .navegation a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  /* background-color: var(--color-navbarLeft); */
  color: var(--color-text);
}

.navbarLeft .navegation a:hover {
  background-color: var(--color-menuHover);
  color: var(--color-menuHoverText);
}

.navbarLeft .navegation ion-icon {
  min-width: 50px;
  font-size: 20px;
}

/*------------ Billing Container  --------------------*/

.billing-container {
  width: 80%;
  margin: 2rem;
  padding: 10px;
  box-sizing: border-box;
}

.billing-container .client-info {
  color: #000000;
  margin-bottom: 20px;
}

.table> :not(caption)>*>* {
  background-color: transparent;
  border: none;
}

.billing-container .buttoms {
  display: flex;
  align-items: end;
  justify-content: end;
}

.billing-container .buttoms button {
  margin: 10px;
}

